<div style="text-align: center;" class="thumbnail">

<div><img width="100" height="100" src="{{$root.user.picture.url}}"></div>


  <h2 class="caption">User: {{$root.user.name}}</h2>

</div>

<div class="well">

  <div>Roles:
    <li ng-repeat="role in $root.user.roles">{{role}}</li>
  </div>

  <div>Mail: {{$root.user.mail}}</div>

  <div>Since: {{$root.user.created * 1000 | date:'medium'}}</div>
  <div>Last Login: {{$root.user.access * 1000 | date:'medium'}}</div>


</div>

<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="logout()">Logout</button>
